@import url(../forms/forms.css);

.console-title{
    font-family: 'PressStart2P';
}

.console-container{
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    border: 2px solid #414141;
}
