@import url(../forms/forms.css);

.game-title{
    font-family: 'PressStart2P';
}

.game-container{
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    border: 2px solid #414141;
    margin-bottom: 200px !important;
}
